<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATSHOP 032</title>
</head>

<body>
    <h1>CATSHOP 032</h1>
    <h3>APPS MENU</h3>
    <hr>
    <ul>
        <li><a href="/cats?page=1">Manage Cats</a></li>
        <li><a href="/categories">Manage Categories</a></li>
        <% if (user.usertype === 'Manager') { %>
            <li><a href="/users">Manage Users</a></li>
            <li><a href="/cats/sales">Sales Report</a></li>
        <% } %>
    </ul>
    <hr>
    <h3>Welcome <%= user.fullname %>, you are login as <%= user.usertype %></h3>
    <img src="../../uploads/users/<%= user.photo %>" alt="Photo Profile" width="128" height="128">
    <ul>
        <li><a href="/auth/changephoto">Change Photo</a></li>
        <li><a href="/auth/changepass">Change Password</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</body>

</html>