<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATSHOP 032</title>
</head>

<body>
    <h1>CATSHOP 032</h1>
    <h3>CATEGORY FORM</h3>
    <hr>
    <form action="" method="post">
        <table>
            <tr>
                <td>Category Name</td>
                <td><input type="text" name="category_name_032" required></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea name="description_032" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="SAVE" name="submit">
                    <a href="/categories"><input type="button" value="CANCEL"></a>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>